In [1]:
'''Ressource: https://stackoverflow.com/questions/18275306/does-python-has-a-similar-library-like-quantmod-in-r-that-can-download-financial
'''

'Ressource https://stackoverflow.com/questions/18275306/does-python-has-a-similar-library-like-quantmod-in-r-that-can-download-financial\n'

In [15]:
from pandas_datareader import DataReader
from datetime import datetime

In [21]:
#Import of data
VIX = DataReader("^VIX",  "yahoo", datetime(2016,1,1), datetime(2016,4,1))
#VIX = VIX['Adj Close']
VIX

                 High        Low       Open      Close  Volume  Adj Close
Date
2016-01-04  23.360001  20.670000  22.480000  20.700001       0  20.700001
2016-01-05  21.059999  19.250000  20.750000  19.340000       0  19.340000
2016-01-06  21.860001  19.799999  21.670000  20.590000       0  20.590000
2016-01-07  25.860001  22.400000  23.219999  24.990000       0  24.990000
2016-01-08  27.080000  22.480000  22.959999  27.010000       0  27.010000
2016-01-11  27.389999  23.830000  25.580000  24.299999       0  24.299999
2016-01-12  23.930000  21.910000  22.969999  22.469999       0  22.469999
2016-01-13  26.110001  21.440001  21.719999  25.219999       0  25.219999
2016-01-14  26.280001  23.070000  24.750000  23.950001       0  23.950001
2016-01-15  30.950001  26.670000  28.959999  27.020000       0  27.020000
2016-01-19  27.590000  25.209999  25.400000  26.049999       0  26.049999
2016-01-20  32.090000  26.590000  27.780001  27.590000       0  27.590000
2016-01-21  28.430000  25.010000  27.790001  26.690001       0  26.690001
2016-01-22  24.549999  22.219999  24.209999  22.340000       0  22.340000
2016-01-25  24.309999  22.379999  23.299999  24.150000       0  24.150000
2016-01-26  24.020000  22.330000  23.750000  22.500000       0  22.500000
2016-01-27  27.219999  20.420000  22.879999  23.110001       0  23.110001
2016-01-28  23.809999  21.900000  22.150000  22.420000       0  22.420000
2016-01-29  21.740000  19.500000  21.590000  20.200001       0  20.200001
2016-02-01  23.660000  19.610001  21.320000  19.980000       0  19.980000
2016-02-02  22.420000  21.059999  21.340000  21.980000       0  21.980000
2016-02-03  27.700001  21.420000  21.490000  21.650000       0  21.650000
2016-02-04  23.139999  21.240000  22.290001  21.840000       0  21.840000
2016-02-05  24.110001  21.910000  22.090000  23.379999       0  23.379999
2016-02-08  27.719999  25.559999  25.889999  26.000000       0  26.000000
2016-02-09  28.309999  25.990000  28.299999  26.540001       0  26.540001
2016-02-10  26.600000  24.469999  25.750000  26.290001       0  26.290001
2016-02-11  30.900000  26.670000  29.010000  28.139999       0  28.139999
2016-02-12  27.570000  24.920000  27.160000  25.400000       0  25.400000
2016-02-16  25.520000  23.320000  24.959999  24.110001       0  24.110001
...               ...        ...        ...        ...     ...        ...
2016-02-19  23.440001  20.520000  22.389999  20.530001       0  20.530001
2016-02-22  20.350000  19.020000  20.139999  19.379999       0  19.379999
2016-02-23  21.160000  19.540001  19.750000  20.980000       0  20.980000
2016-02-24  22.870001  20.260000  22.280001  20.719999       0  20.719999
2016-02-25  21.260000  19.100000  20.540001  19.110001       0  19.110001
2016-02-26  20.129999  18.459999  18.889999  19.809999       0  19.809999
2016-02-29  20.809999  18.379999  20.490000  20.549999       0  20.549999
2016-03-01  20.170000  17.660000  19.840000  17.700001       0  17.700001
2016-03-02  18.410000  16.780001  17.980000  17.090000       0  17.090000
2016-03-03  17.559999  16.320000  17.250000  16.700001       0  16.700001
2016-03-04  17.350000  16.049999  16.480000  16.860001       0  16.860001
2016-03-07  18.040001  16.870001  17.980000  17.350000       0  17.350000
2016-03-08  18.889999  17.820000  18.379999  18.670000       0  18.670000
2016-03-09  19.110001  18.309999  18.559999  18.340000       0  18.340000
2016-03-10  19.590000  17.059999  18.170000  18.049999       0  18.049999
2016-03-11  17.270000  16.280001  17.090000  16.500000       0  16.500000
2016-03-14  17.670000  16.690001  17.010000  16.920000       0  16.920000
2016-03-15  17.850000  16.840000  17.600000  16.840000       0  16.840000
2016-03-16  16.330000  14.890000  15.960000  14.990000       0  14.990000
2016-03-17  15.380000  13.820000  15.340000  14.440000       0  14.440000
2016-03-18  14.360000  13.750000  14.050000  14.020000       0  14.020000
2016-03-21  14.730000  13.790000  14.570000  13.790000       0  13.790000
2016-03-22  14.760000  13.750000  14.570000  14.170000       0  14.170000
2016-03-23  15.030000  14.330000  14.570000  14.940000       0  14.940000
2016-03-24  16.440001  14.710000  16.299999  14.740000       0  14.740000
2016-03-28  16.040001  14.890000  15.650000  15.240000       0  15.240000
2016-03-29  15.890000  13.790000  15.740000  13.820000       0  13.820000
2016-03-30  13.890000  13.060000  13.690000  13.560000       0  13.560000
2016-03-31  14.280000  13.490000  13.730000  13.950000       0  13.950000
2016-04-01  15.280000  13.000000  15.230000  13.100000       0  13.100000

[62 rows x 6 columns]

In [20]:
#Question1
VIX.dropna()

Date
2016-01-04    20.700001
2016-01-05    19.340000
2016-01-06    20.590000
2016-01-07    24.990000
2016-01-08    27.010000
2016-01-11    24.299999
2016-01-12    22.469999
2016-01-13    25.219999
2016-01-14    23.950001
2016-01-15    27.020000
2016-01-19    26.049999
2016-01-20    27.590000
2016-01-21    26.690001
2016-01-22    22.340000
2016-01-25    24.150000
2016-01-26    22.500000
2016-01-27    23.110001
2016-01-28    22.420000
2016-01-29    20.200001
2016-02-01    19.980000
2016-02-02    21.980000
2016-02-03    21.650000
2016-02-04    21.840000
2016-02-05    23.379999
2016-02-08    26.000000
2016-02-09    26.540001
2016-02-10    26.290001
2016-02-11    28.139999
2016-02-12    25.400000
2016-02-16    24.110001
                ...
2016-02-19    20.530001
2016-02-22    19.379999
2016-02-23    20.980000
2016-02-24    20.719999
2016-02-25    19.110001
2016-02-26    19.809999
2016-02-29    20.549999
2016-03-01    17.700001
2016-03-02    17.090000
2016-03-03    16.700001
2016-03-04    16.860001
2016-03-07    17.350000
2016-03-08    18.670000
2016-03-09    18.340000
2016-03-10    18.049999
2016-03-11    16.500000
2016-03-14    16.920000
2016-03-15    16.840000
2016-03-16    14.990000
2016-03-17    14.440000
2016-03-18    14.020000
2016-03-21    13.790000
2016-03-22    14.170000
2016-03-23    14.940000
2016-03-24    14.740000
2016-03-28    15.240000
2016-03-29    13.820000
2016-03-30    13.560000
2016-03-31    13.950000
2016-04-01    13.100000
Name: Adj Close, Length: 62, dtype: float64